<h2>Reset Password</h2>
<div>
  <label for="email">Email Address:</label>
  <input type="email" id="email" [(ngModel)]="EmailAddress" [ngModelOptions]="{standalone: true}">
</div>
<div>
  <label for="resetToken">Reset Token:</label>
  <input type="text" id="resetToken" [(ngModel)]="ResetToken">
</div>
<div>
  <label for="newPassword">New Password:</label>
  <input type="password" id="newPassword" [(ngModel)]="NewPassword">
</div>
<button (click)="resetPassword()">Submit</button>
<div *ngIf="validationErrors.length > 0" class="error-messages">
  <ul>
    <li *ngFor="let error of validationErrors">{{ error }}</li>
  </ul>
</div>
