<h2 class="heading text-center">RESOURCE TYPE</h2>


<div class="actions">
  <button type="button" class="btn btn-sm btn-primary add-button" routerLink="/add-resource-type-dialog">
    <i class="fas fa-plus"></i>
  </button>
</div>




<div class="table-container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" class="table-heading">Name</th>
        <th scope="col" class="table-heading">Description</th>
        <th scope="col" class="table-heading">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients" class="table-row">
        <td class="table-cell">{{ client.Account }}</td>
        <td class="table-cell">{{ client.Department }}</td>
        <td class="table-cell">{{ client.SiteCode }}</td>
        <td class="table-cell">{{ client.ProjectCode }}</td>
        <td class="table-cell">{{ client.AccountManager }}</td>
        <td class="table-cell table-icons">
          <i class="fas fa-edit edit-icon" (click)="editClient(client.ClientId)"></i>
          <span class="divider"></span>
          <i class="fas fa-trash delete-icon" (click)="DeleteClient(client.ClientId)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>