<h2 class="heading text-center">RESOURCE TYPE</h2>


<div class="actions">
  <button type="button" class="btn btn-sm btn-primary add-button" routerLink="/addresourcetype">
    <i class="fas fa-plus"></i>
  </button>
</div>




<div class="table-container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" class="table-heading">Name</th>
        <th scope="col" class="table-heading">Description</th>
        <th scope="col" class="table-heading">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resourceType of resourceTypes" class="table-row">
        <td class="table-cell">{{ resourceType.resourceTypeName }}</td>
        <td class="table-cell">{{ resourceType.resourceTypeDescription }}</td>
        <td class="table-cell table-icons">
          <i class="fas fa-edit edit-icon" (click)="editResourceType(resourceType.resourceTypeId)"></i>
          <span class="divider"></span>
          <i class="fas fa-trash delete-icon" (click)="DeleteResourceType(resourceType.resourceTypeId)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <div *ngIf="filtered.length === 0">No items found.</div> -->